$imgsize: 300px;

#subsplash-grid {
    grid-template-columns: repeat(3, minmax(250px, $imgsize));
    grid-template-rows: repeat(auto-fill, $imgsize);
    
    .wpdgrid {
        
        &-square {
            
            &_inner {
                
                & a {
                    /*background-size: 100% 100%;*/
                    background-position: center;
                }

                &-overlay {
                    
                    &--label {
                        background: rgba(55, 78, 95, 0.8);
                        color: white;
                        font-size: 1.5rem;
                        font-size: clamp(1rem, 1.5rem, 2rem);
                    }
                }
            }
        }
    }
}

/* media
 @media (max-width: 1360px) {
     
     #subsplash-grid {
        grid-template-columns: repeat(auto-fit, $imgsize);
    }
 } */

@media (max-width: 991.98px) {
    
    #subsplash-grid {
        grid-template-columns: repeat(auto-fit, $imgsize);
    }
}

@media (max-width: 600px) {
    
    #subsplash-grid {
        grid-template-columns: repeat(auto-fit, $imgsize);
    }
}